
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, ;
    
}



:root {
    --bar-width: 50px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 40px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  }
  .navigation{
    display: none;
  }
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    right: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
  }
  
  .hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #ffffff;
  }
  
  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }
  
  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--background);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }
  
  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }
  
  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }
  
  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }
  
  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
  
  .sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    /* padding: 0.5rem 1rem; */
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground) ;
    opacity: 90%;
    color: var(--background);
    width: 100%;
    height:900px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    
  }
  .sidebar ul{
    margin-top: 100px;
  }
 .sidebar ul {
    width: 100%;
    /* background-color: #fff; */
    /* height: 300px; */
    font-size: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    /* position: relative; */
 }
 
 .sidebar ul li{position: relative; list-style: none;}
 .sidebar ul li a{
    list-style: none;
    text-decoration: none;
    color: whitesmoke; 
    
 }
.sidebar ul li a{
    cursor: pointer;
    text-decoration: none;
    color: #b1b1b1;
    padding: 8px 0;
    font-weight: 400;
    
  
}

  .sidebar ul li a:after{
    content: "";
    position: absolute;
    background-color: #E0B100;
    width: 0;
    height: 3px;
    left: 0;
    bottom: 0px;
    transition: 0.3s;
    

}
.sidebar ul li a:hover{
    color: white;
}
.sidebar ul li a:hover:after{
    width: 100%;
    
}





  .hamburger-menu:has(input:checked) + .sidebar {
    translate: 0;
  }

.hero-container {
    width: 100%;
    height: 900px;
    border: 1px solid black ;
    background: url(./hero1.jpg) no-repeat ;
    background-color: #adadad;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
}
/* video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(70%);

} */


nav h1{
    margin-left: 100px;
    font-size: 40px;
}
nav{
    padding: 30px 20px;
    display: flex;
    height: 50px;
    /* border: 1px solid black; */
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.list{
    /* width: 515px; */
    align-items: center;
    justify-content: space-around;
    flex-shrink: 0;
    position: relative;
    
}
.list ul{
    display: flex;
    list-style: none;
    gap:50px;
    font-size: 20px;
       
}


.list ul li a{
    cursor: pointer;
    text-decoration: none;
    color: #e2e2e2;
    padding: 8px 0;
    font-weight: 400;
    
  
}


.list ul li{position: relative;}
.list ul li a:after{
    content: "";
    position: absolute;
    background-color: #E0B100;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
    

}
.list ul li a:hover{color: white;}
.list ul li a:hover:after{
    width: 100%;
    
}


.get-in{
    display: flex;
    width: 200px;
    margin-right: 50px;
    justify-content: space-around;
    

}
.login,.sign-up{
    font-size: 20px;
    padding:  5px 10px ;
    border-radius: 50px;
    cursor: pointer;
}
.sign-up{
    border: 1px solid #E0B100;
    color: #E0B100;
    
}
.sign-up:hover{
    background-color: #ddad01;
    color: white;

    transition: all .2s ease-in;
}



.describe{
    position: absolute;
    color:white;
    left: 150px;
    top: 340px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    position: relative;
    /* flex-wrap: wrap; */
    
}
.describe h2{
    font-size: 55px;
}
.btn{
    background-color: #e0af00e8;
    width: 100px;
    padding:10px;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    letter-spacing: .3px;
    cursor: pointer;
    box-shadow: 2px 2px 4px rgb(29, 29, 29);
    border: 1px solid #E0B100;

}


.btn:hover{
    background-color:transparent;
    border: 1px solid #E0B100;
    color: #E0B100;
    transition: all 0.2s ease-out;
}




.section1{
    margin: 100px auto;
    width: 70%;
    /* height: 300px; */
    /* border: 1px solid black; */
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.section1 .aqw{
    margin-top: 20px;
    font-size: 28px;
}


.section1 .card{
    box-sizing: border-box;
    overflow: hidden;
    width: 360px;
    height: 500px;
    margin: 40px 0;
    text-align: center;
    box-shadow: 4px 5px 10px 5px  #e9e9e9;
}
.card-parent{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    /* width: 100%; */
}
.caption-image{
    padding: 20px;
}
.caption-image p{
    margin-top: 20px;
}

.section2{
    width: 70%;
    /* border: 1px solid green; */
    margin: 80px auto;
    position: relative;
    box-sizing: border-box;
    
}

.services-head {
    width: 500px;
   
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
}
.services-number{
    margin-right: 20px;
}
.services-contain p{
    margin-top: 10px;
}

.services-right{
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    margin-right: 40px;

}
.services-right h2{
    font-size: 40px;
}
.services-btn{
    position: absolute;
    top: 60px;
    right:30px;
    background-color: #E0B100;
    padding: 10px 20px;
    border-radius: 50px;
    color: white;
    cursor: pointer;
}
.section2 img{
    position: absolute;
    top: 25%;
    left: 50%;
    
    /* transform: translateX(-30vh); */
    
}

footer{
    margin-top: 40px;
    /* text-align: center; */
    width: 100%;
    /* border: 1px solid black; */
    /* height: 20vh; */
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-bar{
    text-align: center;
    width:80vh;
    
}
.top-bar h3{
    font-size: 20px;
}
.top-bar p{
    margin-top: 20px;
}
.bottom-bar{
    border-top: 1px solid rgb(0, 0, 0) ;
    border-bottom: 1px solid rgb(0, 0, 0) ;
    width: 70%;
    margin: 20px 20px;
}
.bottom-bar ul{
    margin: 20px 0;
    display: flex;
    /* width: 100%; */
    justify-content:  space-between;
    padding: 0 25px;
    font-weight: 500;
    font-size: 20px;
    
}
.bottom-bar ul li{
    list-style: none;
    
    
}



.about-me{
    background-color: #4f6c88;
    width: 70%;
    height: 40vh;
    margin: 150px auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    /* justify-content : space-between; */
    gap: 80px;
    padding: 1rem 2.5rem;

    color: white    ;

}
.about-me .image{
    width:250px;
    height: 250px;
    background-color: #fff;
    margin-left: 50px;
    border-radius: 20px;
    background: url(./hero-me.jpg);
    background-size: cover ;
    background-position: -20px 0;
}

.about-me .details{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 40px;
    height: 250px;
    width: 50%;
}
.about-me .btn-me{
    /* background-color: #fff; */
    width: 300px;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1   rem;

}
.btn-me .btn-contact-me,
.btn-cv{
    /* width: 80px;  */
    height: max-content;
    border: 3px solid #E0B100;
    padding: 10px;
    border-radius: 10px ;
    color: white;
    cursor: pointer;


}
.btn-contact-me p,
.btn-cv p{
    /* text-decoration: none; */
    font-weight: 700;
    letter-spacing: 1px;
}

.btn-contact-me {
    background-color: #E0B100;
    
}
/* .btn-contact-me a{
    color:white;
    
} */

.btn-contact-me:hover{
    transition: all 0.1s ease-in-out;
    background-color: #4f6c88;
}
.btn-cv:hover{
    transition: all 0.1s ease-in-out;
    background-color: #E0B100;
}




.services-left{
    position: relative;
}

@media screen and (max-width:1800px){
    .card-parent{
        gap: 20px;
        justify-content: center;
       } 
    .section1 .card{
        width: 350px;
        height: 450px;
    }
    .caption-image p{
        font-size: 15px;
    }
    .caption-image h3{
        font-size: 15px;
    }
    .caption-image{
        padding: 10px;
    }
}

@media screen and (max-width:1440px){
    /* .hero-container h1{
        font-size: 10px;
    } */
    .hero-container{
        height: 600px;
    }
    .describe {
        top: 80px;
        left: 120px;
        width: 500px;
    }
    .describe h2{
        font-size: 40px;
    }
    .get-in{
        margin-right: 0;
        /* border: 1px solid black; */
    }
   .section2 img{
    /* transform: translateX(10px); */
    left: 60%;
    top: 35%;
    width: 300px;
   }
   .services-right h2{
    font-size: 35px;

   }
   .about-me .image{
    margin: 10px 0 10px 30px;
    height: 240px;

    
   }
   
   
   
}

@media screen and (max-width: 1024px){
    .hero-container{
        width: 100%;
        height: 800px;
    }
    
    nav h1{
        margin-left: 60px;
        font-size: 30px;
    }
    .get-in{
        margin-right: 10px;
        width: 200px;
    }
    .list ul{
        gap: 30px;
    }
    .describe h2{
        font-size: 30px;
        
    }
    .describe{
        width: 500px;
    }
    .section2 img{
        display: none;
    }
    .services-right{
        top: -100px;
        right: 150px;
        
    }
    .services-btn{
        right: 100px;
    }
    .head2{
        /* position: absolute; */
        margin-left: 100px;

    }
    .head3{
        margin-left: 200px;
        /* position: absolute; */
        /* top: 350px; */
    }
}




@media screen and (max-width:769px){
    .hero-container{
        width: 100%;
        height: 400px;
    }
    nav h1{
        font-size: 25px;
    }
    .describe{
        width: 400px;
        top: 100px;
        left: 80px;
    }
    
    .describe p{
        display: none;
    }
    .describe .btn{
        position: absolute;
        top: 120px;
    }
    .list ,.get-in{
        display: none;
    }
    .navigation{
        display: block;
    }

}